.background{
  background-color: lightgreen;
  height: 100vh;
  font-size: 50px;
}
.languages{
  font-size: 20px;
}

.container1{
  background-color: pink; 
  height: 70vh;
}

.container2{
  background-color: orange;
   height: 50vh
}

.container3{
  
    background-color: yellow;
    width: 60%;
    margin: auto;

}

.languages-area{
  
    width: 100px;
    height: 15vh;
    font-size: 20px
 
}